<section >
    <div class="container">
        <div class="row mt-5">
            <a href="/admin/add-user" class="btn btn-outline-success ms-auto mb-3" style="width: 10rem;">Add user</a>
            <a href="/admin/admin-signup" class="btn btn-outline-success mb-3 ms-5" style="width:10rem ;">Add Admin</a>
        </div>
        <table class="table table-dark table-striped mt-5 pt-5" id="userTable">
            <thead>
                <tr>
                    <th scope="col">No:</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit user</th>
                    <th scope="col">Delete user</th>
                </tr>
            </thead>
            <tbody>
                {{#each allUsers}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this._id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td><a href="/admin/edit-user/{{this.email}}" class="btn btn-outline-primary">Edit</a></td>
                    <td><a href="/admin/delete-user/{{this.email}}" class="btn btn-outline-danger"
                            onclick="return confirm('are you want to delete {{this.name}}')">Delete</a></td>
                    {{!-- <td><a href="/admin/delete-user/{{this.email}}" class="btn btn-danger"
                            onclick="sweetAlertClick()">Delete</a></td> --}}


                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>
<script>
    $(document).ready( function () {
        $('#userTable').DataTable();
} );
</script>
